<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class='nav navbar'>
      <li class=<%= 'active' if current_page?(action: :index)%> >
        <%= link_to 'inicio', root_path %>
      </li>
      <li class=<%= 'active' if current_page?(action: :products)%> >
        <%= link_to 'productos', products_path %>
      </li>
      <li class=<%= 'active' if current_page?(action: :promos)%> >
        <%= link_to 'promociones', promos_path %>
      </li>
      <li class=<%= 'active' if current_page?(action: :contact)%> >
        <%= link_to 'contacto', contact_path %>
      </li>
      <li>
        <%= link_to 'administrador', rails_admin_path %>
      </li>
    </ul>
  </div>
</nav>
