<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class='nav navbar'>
      <li>
        <%= link_to 'inicio', root_path %>
      </li>
      <li>
        <%= link_to 'productos', products_path %>
      </li>
      <li>
        <%= link_to 'promociones', promos_path %>
      </li>
      <li>
        <%= link_to 'otros', contact_path %>
      </li>
      <li>
        <%= link_to 'salir', destroy_user_session_path, method: :delete %>
      </li>
    </ul>
  </div>
</nav>
